
#margin_btn_nuevo_tercero{
    padding-right: 2%;
}
#scroll{
    height: 95%;
    overflow: hidden;
    overflow-y: scroll;
    border: 2px solid #d9edf7;
}
.search_null{
    text-align: center;
}
#scroll_factura{
    height: 342.7px;
    overflow: hidden;
    overflow-y: scroll;
    border: 2px solid gray;
}
/*tamaño de la utlima columna */
table td:last-child {
    min-width:120px;
}