/ajax
/classes
/clientes.php
/config
/contratos.php
/contratos_1.php
/contratos_no.php
/css
/editar_contrato.php
/editar_factura.php
/facturas.php
/footer.php
/head.php
/img
/index.php
/js
/libraries
/login.php
/modal
/navbar.php
/nueva_factura.php
/nuevo_contrato.php
/productos.php
/simple_invoice.sql
/usuarios.php